<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coosu.Database" version="2.3.40" targetFramework="net472" />
  <package id="Octokit" version="14.0.0" targetFramework="net472" />
  <package id="OsuMemoryDataProvider" version="0.10.3" targetFramework="net472" />
  <package id="OsuParsers" version="1.7.2" targetFramework="net472" />
  <package id="ProcessMemoryDataFinder" version="0.8.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
</packages>